@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
.hidden-custom {
  display: none;
}
@layer base {
  body {
    font-family: "Montserrat", sans-serif;
  }
}

/* CSS for input fields when validation fails */
.input-error {
  border-color: red;
}

/* CSS to style the label when the input is invalid */
label.error-label {
  color: red;
}
.error-border {
  border: 2px solid red;
}
